html, body {
    overflow: visible;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif, Arial;
    scroll-behavior: smooth;
}
.background {
    background: radial-gradient(circle at 100% 90%, #2e6aeb 0%, #3bbadd 100%),
    radial-gradient(circle at 10% 0%, #2e6aeb 0%, #3bbadd 100%);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
html::-webkit-scrollbar {
    display: none;
}
  

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 15vh;
    z-index: 3;
    transition: transform ease-out 0.2s, height ease-out 0.2s;
}
.header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header:hover {
    height: 25vh;
}
.header:hover>*>button {
    height: 8vh;
}
.header>*>button {
    margin-top: 6vh;
    border-color: rgb(255, 255, 255);
    background-color: rgba(185, 247, 255, 0.734);
    border-radius: 1.3vw;
    border-width: 2px;
    border: 3px solid rgba(171, 242, 255, 0.868);
    min-height: 30px;
    height: 6vh;
    text-align: center;
    font-weight: bolder;
    font-size: 100%;
    transition: transform ease 0.2s, height ease 0.2s, flex ease 0.2s;
    z-index: 4;
    flex: 1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header>*>button:hover {
    cursor: pointer;
    flex: 1.1;
    transform: scaleY(105%);
}
.header-line {
    margin-top: 6vh;
    z-index: 0;
    transition: transform ease-out 0.2s;
    flex: 1;
    height: 1px;
    border-top: 2px dashed rgba(0, 0, 0, 0.702);
}




.particle-sim {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}






.center-div {
    position: absolute;
    top: 22vh;
    left: 20vw;
    width: 60vw;
    height: auto;
    z-index: 2;
    opacity: 0;
    transform: translateY(5vh);
    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center-div>h1 {
    font-size: 6.5vw;
    font-weight: bold;
}
.center-div>h2 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}
.center-div>h3 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-left: 1.3vw;
}
.center-div>p {
    text-wrap: pretty;
    margin-left: 1.3vw;
    font-size: 2vw;
}
.center-div>a {
    pointer-events: all;
    text-wrap: pretty;
    margin-left: 2.3vw;
    font-size: 2.5vw;
    font-style: italic;
}
.center-div>*>a {
    pointer-events: all;
}
.center-div>img {
    position: absolute;
    object-fit: cover;
    border-radius: 8vw;
    left: 33vw;
    top: -3vh;
    width: 25vw;
    height: 25vw;
    pointer-events: none;
}




.spacer {
    height: 5vh;
}
.spacer2 {
    height: 2vh;
}
.blur {
    backdrop-filter: blur(2px);
    border-radius: 8vw;
}
.overwrite-pointer-events {
    pointer-events: all !important;
}

.icon-left {
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    position: absolute;
    left: -7vw;
    top: 40vw;
}

.icon-right {
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    position: absolute;
    left: 67vw;
    top: 40vw;
    border-radius: 1vw;
    background-color: white;
}




.project-unit {
    width: 80vw;
    margin-left: -5vw;
    border-radius: 8vw;
}
.project-unit>h2 {
    margin-left: 5vw;
    text-wrap: pretty;
    font-size: 3vw;
}
.project-unit>h3 {
    margin-left: 6.3vw;
    font-size: 2.2vw;
    margin-top: -2.3vw;
    font-weight: normal;
}
.description {
    margin-left: 5vw;
    min-height: 35vw;
    max-width: 70vw;
    display: inline-block;
}
.description>*>img {
    position: absolute;
    left: 45vw;
    margin-left: 2.5vw;
    border-radius: 8vw;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
.description>div {
    float: inline-end;
    border-radius: 8vw;
    width: 30vw;
    height: 25vw;
}
.description>p {
    text-wrap: pretty;
    font-size: 2vw;
}
.description>*>i {
    margin-left: 15vw;
}
.active {
    opacity: 0;
}
.active:hover {
    opacity: 1;
}
.left {
    margin-left: -15vw;
}
.left-img {
    transform: translateX(-10vw);
}



.links-container {
    width: 75vw;
    margin-left: -10vw;
}

.link-icon-pair {
    display: inline-block;
    left: -10vw;
    width: 25vw;
    height: 18vw;
    text-align: center;
}
.link-icon-pair>a {
    pointer-events: all;
    position: relative;
    font-size: 5vw;
    font-weight: bold;
}
.link-icon-pair>p {
    position: relative;
    text-wrap: pretty;
    margin-left: 1.3vw;
    font-size: 2vw;
}
.link-icon-pair>img {
    position: relative;
    background-color: white;
    border-radius: 1vw;
    object-fit:contain;
    width: 10vw;
    height: 10vw;
    pointer-events: none;
}




.opacity-0 {
    opacity: 0;
}
.opacity-10 {
    opacity: 0.1;
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.50;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-100 {
    opacity: 1;
}







@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url(./../fonts/Inter-Regular.ttf);
}
  
@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url(./../fonts/Inter-Bold.ttf);
}
  
@font-face {
    font-family: 'Inter';
    font-weight: light;
    src: url(./../fonts/Inter-Light.ttf);
}