html, body {
    overflow: hidden;
    margin: 0;
    background: radial-gradient(circle at 100% 90%, #2e6aeb 0%, #3bbadd 100%);
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif, Arial;
}



.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 20vh;
    z-index: 1;
    transition: transform ease-out 0.2s, height ease-out 0.2s;
}
.header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header:hover {
    height: 25vh;
}
.header:hover>*>button {
    height: 8vh;
}
.header>*>button {
    margin-top: 6vh;
    border-color: rgb(255, 255, 255);
    background-color: rgba(185, 247, 255, 0.354);
    border-radius: 1.3vw;
    border-width: 2px;
    border: 3px solid rgba(171, 242, 255, 0.868);
    min-height: 30px;
    height: 6vh;
    text-align: center;
    font-weight: bolder;
    font-size: 100%;
    transition: transform ease 0.2s, height ease 0.2s, flex ease 0.2s;
    z-index: 1;
    flex: 1;
}
.header>*>button:hover {
    cursor: pointer;
    flex: 1.1;
    transform: scaleY(105%);
}
.header-line {
    margin-top: 6vh;
    z-index: 0;
    transition: transform ease-out 0.2s;
    flex: 1;
    height: 1px;
    border-top: 2px dashed rgba(0, 0, 0, 0.702);
}

.particle-sim {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}


.center-div {
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 70vw;
    height: 40vw;
    z-index: 3;
    opacity: 0;
    transform: translateY(15vh);
}
.center-div>p {
    position: absolute;
    font-size: 6.5vw;
    font-weight: bold;
    pointer-events: none;
}
.center-div>img {
    position: absolute;
    object-fit: cover;
    border-radius: 8vw;
    left: 33vw;
    top: -3vh;
    width: 25vw;
    height: 25vw;
    pointer-events: none;
}





@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url(./../public/fonts/Inter-Regular.ttf);
}
  
@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url(./../public/fonts/Inter-Bold.ttf);
}
  
@font-face {
    font-family: 'Inter';
    font-weight: light;
    src: url(./../public/fonts/Inter-Light.ttf);
}